.button {
	@apply relative flex min-w-min select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-md font-medium transition-all;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.fullWidth {
	@apply w-full;
}

.disabled {
	@apply cursor-not-allowed bg-grey-100 text-grey-400;
}

/* textAlign */
.left {
	@apply justify-start;
}

.right {
	@apply justify-end;
}

/* Shape */
.circular {
	@apply rounded-full;
}

.rectangular {
	@apply rounded-none;
}

.rounded {
	@apply rounded-md;
}

/* Sizes */
.md {
	@apply px-4 py-3 text-button;
}

/* Colors */
/* 		Solid */
.solid.primary:not(.disabled) {
	@apply hover:bg-primary-dark bg-primary text-white;
}
