.button {
	@apply relative flex min-w-min select-none items-center justify-center overflow-hidden whitespace-nowrap rounded-md font-medium transition-all;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.fullWidth {
	@apply w-full;
}

.disabled {
	@apply cursor-not-allowed;
}

/* textAlign */
.left {
	@apply justify-start;
}

.right {
	@apply justify-end;
}

/* Shape */
.circular {
	@apply rounded-full;
}

.rectangular {
	@apply rounded-none;
}

.rounded {
	@apply rounded-md;
}

/* Sizes */
.md {
	@apply text-button px-4 py-3;
}

/* Colors */
/* 		Solid */
.solid.primary {
	@apply bg-primary text-white hover:opacity-80;
}
